.Account_Dashboard .Box {
    padding: 55px;
    margin-top: 15px;
    color: var(--Black);
    border-radius: 2rem;
    margin-bottom: 15px;
    border: var(--Yini-Light-Border);
}

.Account_Dashboard .Box_Gradient {
    padding: 55px;
    margin-top: 50px;
    color: var(--Black);
    border-radius: 2rem;
    margin-bottom: 50px;
    border-image: linear-gradient(var(--Yini-Green), var(--Yini-Sky)) 1;
}

.Account_Dashboard .Box_100 {
    padding: 55px;
    margin-top: 50px;
    color: var(--Black);
    border-radius: 1rem;
    margin-bottom: 50px;
    width: inherit;
    border: var(--Yini-Light-Border);
}

.Account_Dashboard .Box_100_Gradient {
    border-width: 30px;
    border-radius: 5px;
    border-image: linear-gradient(var(--Yini-Green), var(--Yini-Sky)) 0 0 0 1;
}

.Account_Dashboard .Boxs {
    gap: 50px;
    display: flex;
    flex-direction: row;
}

.Account_Dashboard .Boxs .Box_50 {
    padding: 55px;
    flex-grow: 1;
    margin-top: 50px;
    color: var(--Black);
    border-radius: 1rem;
    margin-bottom: 50px;
    max-width: 50%;
    box-shadow: 0 10px 10px #ddd, 0 6px 20px 0 #ddd;
}

.Account_Dashboard .Mini_Box {
    padding: 25px;
    margin-top: 20px;
    color: var(--Black);
    border-radius: 5px;
    border: var(--Yini-Light-Border);
}

.Account_Dashboard .Exercise_Meter {
    margin: 10px;
    padding: 15px;
    height: 15px;
    border-radius: 4px;
    position: relative;
    border: var(--Yini-Light-Border);
}

.Account_Dashboard .Exercise_Meter::before {
    z-index: 2;
    content: "";
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--Yini-Green);
}